.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  list-style: none;

}
.gu-mirror textarea {
  margin-left: 1px;
}
.gu-mirror .close {
  margin-left: 7px;
}
.gu-mirror .drag {
  margin-left: 2px;
}
.gu-hide {
  display: none !important;
}
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.gu-transit {
  opacity: 0;

}

[id*="Tab"] .gu-transit{
  opacity: .2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}
